body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
}


/* TEXT COLOR */
.title, .square, .restart
{
    color: rgb(138, 137, 137);
}


.title
{
    text-align: center;
    margin: 0;
    font-size: 100px;
}

.center
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-container
{
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.square
{
    width: 100px;
    height: 100px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.square:hover
{
    transform: scale(1.1);
    transition: 0.2s;
}

.restart
{
    height: 50px;
    width: 100px;
    border: none;
    background-color: #eee;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restart:hover
{
    background-color: #cacaca;
    transition: 0.2s;
}


/* MODAL */
.modal
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    height: 50%;
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameText
{
    font-size: 100px;
}

.visible
{
    visibility: visible;
}

.non-visible
{
    visibility: hidden;
}